#This config is for testRun

CONFIG=hg19
BASE_DIR=" " This might be your home directory or a shared data storage location (if required)
LOGDIR=" " #specify where Log files needs to be stored
SCRIPTDIR=" " #specify the the folder in which MosaiC-All is cloned
REFGEN=${SCRIPTDIR}/TestRun/Resources/hs37d5.fa #The path and name of your reference sequence fasta file e.g. /path/to/hs37d5.fa

#MosaicHunter
MHDIR=" " #Location of MosaicHunter repository
DBSNP=${SCRIPTDIR}/TestRun/Resources/b37_dbsnp_138.b37.vcf
REPEATS=${MHDIR}/resources/all_repeats.b37.bed
COMMONERROR=${MHDIR}/Resources/WES_Agilent_71M.error_prone.b37.bed

#Mutect2
GATK=" " #Location of your GATK executable if it is not in your PATH
PON_A=${SCRIPTDIR}/TestRun/Resources/Mutect2-exome-panel.vcf
PON_B=${SCRIPTDIR}/TestRun/Resources/Mutect2-exome-panel.vcf
GERMLINE_RESOURCES=${SCRIPTDIR}/TestRun/Resources/af-only-gnomad.raw.sites.vcf

#MosaicForecast
MFORECAST=" " #Location of your MosaicForecast repository
