#This config is for testRun

CONFIG=hg19
BASE_DIR="/home/neuro/MosaiC-All" #This might be your home directory or a shared data storage location (if required)
LOGDIR="${BASE_DIR}/log" #specify where Log files needs to be stored
SCRIPTDIR="${BASE_DIR}/MosaiC-All" #specify the the folder in which MosaiC-All is cloned
REFGEN="${BASE_DIR}" #The path and name of your reference sequence fasta file e.g. /path/to/hs37d5.fa

#MosaicHunter
MHDIR="${BASE_DIR}" #Location of MosaicHunter repository
DBSNP=${SCRIPTDIR}/TestRun/Resources/b37_dbsnp_138.b37.vcf
REPEATS=${MHDIR}/all_repeats.b37.bed
COMMONERROR=${MHDIR}/WES_Agilent_71M.error_prone.b37.bed

#Mutect2
GATK="${BASE_DIR}" #Location of your GATK executable if it is not in your PATH
PON_A=${SCRIPTDIR}/TestRun/Resources/somatic-b37_Mutect2-exome-panel.vcf
PON_B=${SCRIPTDIR}/TestRun/Resources/somatic-b37_Mutect2-exome-panel.vcf
GERMLINE_RESOURCES=${SCRIPTDIR}/TestRun/Resources/somatic-b37_af-only-gnomad.raw.sites.vcf

#MosaicForecast
MFORECAST="${BASE_DIR}" #Location of your MosaicForecast repository
